/* .Bkground { 
  background-color: rgba(233, 227, 220, 0.849);
  margin-left: 0px;
  margin-right:0 px;
  padding: 0px;} */


table, th, td {
  border: 1px solid #000000;
  padding: 10px;
  font-size: 12pt;
}

.InputEnteredTable, th, td {
  border: 1px solid #000000;
  padding: 10px;
  font-size: 12pt;
}

.PredictionTable, th, td {
  border: 1px solid #000000;
  padding: 10px;
  font-size: 12pt;
}
#box1 {
  color: rgb(255, 196, 0);
  height: 100px;
  padding: 10px;
  background: #01415C;
  font-weight: 500;
}

#box2 {
  color: #01415C;
  height: 50px;
  padding: 10px;
  background: rgb(255, 196, 0);
  font-weight: 500;

}

.bg {
  /* The image used */
  background-image: url("static/images/face_background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: rgb(255, 196, 0);
  text-align: center;
  font-size: 20px;
  padding: 8px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

#Machine {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  font-size: larger;
  color: rgb(255, 196, 0);
}

#otherfonts {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: larger;
  color: rgb(255, 196, 0);
  margin-top: 10;
  text-align: center;
}

#otherfontsproject {
  font-style: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: larger;
  color: rgb(255, 196, 0);
  margin-top: 10;
  text-align: left;
  font-size: 16pt;
  text-decoration: underline;
}

#otherfontsproject2 {
  font-style: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: larger;
  color: rgb(255, 196, 0);
  margin-top: 10;
  text-align: left;
  font-size: 14pt;
}

#otherparafonts {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color: rgb(255, 196, 0);
  margin-top: 10;
  font-size: 14pt;
  text-align: left;
}

#otherpara2fonts {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color: rgb(255, 196, 0);
  margin-top: 10;
  font-size: 12pt;
  text-align: left;
}


#welcomefonts {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  font-size: 14;
  color: rgb(255, 196, 0);
  text-align: center;
}

#welcomefonts2 {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  font-size: 14;
  color: rgb(255, 196, 0);
  font-size: 14pt;
  text-align: center;
}

#welcomefonts3 {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  font-size: 14;
  color: rgb(255, 196, 0);
  font-size: 14pt;
  text-align: center;
}

.answerbox {
  height: 750px;
  /* width: 1500px; */
  padding: 100px;
  margin-bottom: 200px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 196, 0);
  background: #01415C;
  opacity: .7;
  outline-color: turquoise;
  outline-width: 10px;
  font-size: xx-large;
  text-align: left;

}

.welcomebox {
  height: 500px;
  /* width: 1500px; */
  padding: 50px;
  margin-bottom: 100px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(144, 226, 226);
  background: #01415C;
  opacity: .7;
  outline-color: turquoise;
  outline-width: 10px;
  font-size: xx-large;
  text-align: center;

}

.visbox {
  height: 970px;
  width: 1080px;
  padding: 50px;
  margin-bottom: 200px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(144, 226, 226);
  background: #01415C;
  opacity: .9;
  outline-color: turquoise;
  outline-width: 10px;
  font-size: xx-large;
  text-align: center;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.column1 {
  float: center;
  width: 100%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.navbar li a {
  color: #000;
  text-decoration: none;
}

.box_l {
  height: 450px;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(56, 160, 179);
  background: white;
}

.text1 {
  color: rgb(255, 196, 0);
}

.box_r {
  height: 350px;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(56, 160, 179);
  background: white;
}


.margin-top-80 {
  margin-top: 80px;
}

.box h1 {
  color: rgb(56, 160, 179);
  font-size: 14pt;
}

.navbar li {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  border-radius: 3px;
}

.navbar-custom {
  background-color: white;
  align-content: right;
}

.border1 {
  border: 1px solid rgb(56, 160, 179);
}

/* comparison page */
.box_comp {
  height: 700px;
  width: 2000px;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 196, 0);
  background: #01415C;
  opacity: .7;
  outline-color: turquoise;
  outline-width: 10px;

}

.box_comp2 {
  height: 1600px;
  /* width: 1500px; */
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 196, 0);
  background: #01415C;
  opacity: .7;
  outline-color: turquoise;
  outline-width: 10px;
  font-size: 14pt;
  text-align: center;
}

.box_project {
  height: 3500px;
  width: 1500px;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 196, 0);
  background: #01415C;
  opacity: .7;
  outline-color: turquoise;
  outline-width: 10px;
  font-size: 14pt;
  text-align: center;
}

.box_about {
  height: 1500px;
  width: 1000px;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 196, 0);
  background: #01415C;
  opacity: .7;
  outline-color: turquoise;
  outline-width: 10px;
  font-size: 14pt;
  text-align: center;
}

.column_comp {
  float: left;
  width: 40%;
  margin-left: 3%;
  margin-right: 3%;
}

.caption {
  font-size: 20px;
  color: rgb(56, 160, 179);
  text-align: center;
  width: 230px;

  margin-left: auto;
  margin-right: auto;
}


/* data page */

.Bkground_data {
  height: 27500;
  background-color: rgba(233, 227, 220, 0.849);
  margin-left: 0px;
  margin-right: 0 px;
  padding: 0px;
}

.button_results {
  height: 200px;
  padding: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  color: #5ca1e1;
  background: white;
  width: 80%;
  text-align: center;

}

@media (max-width: 800px) {

  #box {
    font: larger;
    color: white;
    height: 60px;
    padding: 10px;
    background: rgb(56, 160, 179);
  }

  .Bkground {
    background-color: rgb(252, 234, 213);
    margin: 0px;
    padding: 0px;
  }

  #box2 {
    color: white;
    display: inline-block;
    height: 40px;
    padding: 10px;
    width: 100%;
    background: rgb(56, 160, 179);
  }

  .navbar li a {
    color: #000;
    text-decoration: none;
  }

  .box_l {
    height: 550px;
    padding: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(56, 160, 179);
    background: white;
  }

  .box_r {
    height: 250px;
    padding: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(56, 160, 179);
    background: white;
  }

  .text1 {
    color: rgb(26, 40, 43)
  }

  .margin-top-80 {
    margin-top: 80px;
  }

  .box h1 {
    color: rgb(56, 160, 179);
    font-size: 14pt;
  }

  .navbar li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    border-radius: 3px;
  }

  .navbar-custom {
    background-color: rgb(56, 160, 179);
  }

  .column {
    width: 25%;
  }

  /* comparison page*/

  .column_comp {
    width: 100%;
  }

  .box_comp {
    height: 1000px;
    padding: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    color: rgb(255, 196, 0);
    background: #01415C;
    opacity: .7;
    outline-color: rgb(255, 196, 0);
    outline-width: 10px;
    overflow: scroll;
  }

  .box_comp2 {
    height: 800px;
    padding: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    color: rgb(144, 226, 226);
    background: #01415C;
    opacity: .7;
    outline-color: turquoise;
    outline-width: 10px;

  }

  .answerbox {
    height: 600px;
    padding: 200px;
    margin-bottom: 200px;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    color: rgb(255, 196, 0);
    background: #01415C;
    opacity: .7;
    outline-color: turquoise;
    outline-width: 10px;
    font-size: xx-large;
    text-align: center;

  }
}

@media (max-width: 600px) {

  .box_comp {
    height: 800px;
    padding: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    color: rgb(255, 196, 0);
    background: #01415C;
    opacity: .7;
    outline-color: rgb(255, 196, 0);
    outline-width: 10px;
    overflow: scroll;
  }

  .box_comp2 {
    height: 600px;
    padding: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    color: rgb(144, 226, 226);
    background: #01415C;
    opacity: .7;
    outline-color: turquoise;
    outline-width: 10px;

  }

  .answerbox {
    height: 400px;
    padding: 200px;
    margin-bottom: 200px;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    color: rgb(255, 196, 0);
    background: #01415C;
    opacity: .7;
    outline-color: turquoise;
    outline-width: 10px;
    font-size: xx-large;
    text-align: center;

  }

}