<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>US Mining Injury Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <!-- Header -->
  <header role="banner">
    <nav class="navbar navbar-expand-lg navbar-custom" id="box1">
      <a id="Machine" href="/">2020 US Mining Injury Data</a>

      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav pl-md-5">
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="project.html">Project Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="Visualisations.html">Key Data Visualisations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="questions.html">Injury Predictor</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid"></div>
    <style>
      body {

        background: url('static/images/backgroundtrucks.jpg') no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>

    <div class="welcomebox">
      <h1 id="welcomefonts">Welcome to our Page!</h1>
      <h1 id="welcomefonts2"><br><br>Mining Projects are harsh environments and the tasks we complete are also
        hazardous.<br><br>

        As a new person to the industry, by providing some basic details and we can predict:<br><br>

        1: The Nature of the Injury you will incur<br>
        2: The Body Part you will injure<br>
        3. The Source of the Injury<br>
        4. The Activity you would be completing at the time</h1><br>

      <h1 id="welcomefonts"><a href="questions.html">Click Here</a> to find out...</h1>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/app.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>