<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mothers at Work</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
  
    <!-- Header -->
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-custom" id=box1>
        <div class="container">
          <a class="navbar-brand" id="Machine" href="/">Machine Learning</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5">
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="/project.html">Project Explanation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="/Visualisations.html">Visualisations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="/questions.html">Questionnaire</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
              <li><a href="https://github.com/AmyAndersson"  id= "box2" target="_blank" class="btn btn-outline-dark" >Amy Andersson</a></li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>  

  <div class= "container-fluid"></div> 
      <style>
          body {
  
          background: url('static/images/Workplace-In-2019.jpg') no-repeat center center fixed;
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
               }
      </style>

<div class="visbox"> 
  <div class="row">   
    <div class="column1">
    <h1 id="otherfonts"> Machine Learning</h1>
    <img src="static/images/ML_1.PNG" style="width: 90%" alt="ML_1" > </image>
</div>
</div>
</div>

<div class="visbox"> 
    <div class="row">   
      <div class="column1">
    <img src="static/images/ML_2.PNG" style="width: 90%" alt="ML_2" > </image>
</div>
</div>
</div>

<div class="visbox"> 
  <div class="row">   
    <div class="column">
  <img src="static/images/ML_3.PNG" style="width: 85%" alt="ML_3" > </image>
    </div>
  <div class="column">
    <img src="static/images/ML_4.PNG" style="width:85%" alt="ML_4" > </image>
</div>
</div>
</div>


<div class="visbox"> 
<div class="row">   
<div class="column1">
<img src="static/images/ML_5.PNG" style="height: 85%" alt="ML_5" > </image>
</div>
</div>
</div>

<div class="visbox"> 
<div class="row">   
<div class="column1">
<img src="static/images/ML_6.PNG"  style="height: 85%" alt="ML_6" > </image>
</div>
</div>
</div>

        <div class="visbox"> 
          <div class="row">
            <div class="column1">
              <h1 id="otherfonts"> Java Script Questionaire </h1>
              <img src="static/images/mainjava.PNG"  style="width: 80%; height: 80%" alt="mainjava" > </image>
              
            </div>
           </div>
          </div>
         
          <div class="visbox"> 
            <div class="row">
            <div class="column1">
              <h1 id="otherfonts"> On the button </h1>
              <img src="static/images/optionchanged.PNG" style="width: 80%; height: 90%" alt="optionchanged" > </image>
            </div>
          </div>
        </div>

        <div class="visbox"> 
          <div class="row">    
            <div class="column1">
          <h1 id="otherfonts"> Running the Flask App </h1>
          <img src="static/images/app_1.PNG" class="img-fluid" style="width: 80%; height: 80%" alt="app_1" > </image>
            </div>
            </div>
            </div>

        <div class="visbox"> 
          <div class="row">    
            <div class="column1">
          <img src="static/images/app_2.PNG" style="width: 95%" alt="app_2" > </image>
            </div>
            </div>
            </div>



    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>