<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>US Mining Injury Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <!-- Header -->
  <header role="banner">
    <nav class="navbar navbar-expand-lg navbar-custom" id="box1">
      <a id="Machine" href="/">2020 US Mining Injury Data</a>

      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav pl-md-5">
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="project.html">Project Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="Visualisations.html">Key Data Visualisations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="questions.html">Injury Predictor</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid"></div>
    <style>
      body {

        background: url('static/images/backgroundtrucks.jpg') no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
    <div class="box_project">
      <h1 id="otherfontsproject">Project Intent and Purpose </h1>

      <p id="otherpara2fonts">We want to develop a series of visualisations depicting elements of the incident data
        within the US, then
        create a number of Machine Learning models to allow us to predict (hopefully with some certaintly...) a number
        of future scenario's, based on the overall incident data.<br>

      <p id="otherpara2fonts">The Models will all use the 'Sex', 'Age', 'Occupation' and 'Operational Process' column
        data which will be
        grouped (into smaller number of values to simplify the data model). The website will require require the end
        user to select a value for their future, incoming role, then the site will predict:<br><br>

        1. The 'Activity' the person will most likely be injured doing.<br>
        2. The 'Body Part Injured' of the person that will be injured.<br>
        3. The 'Nature of Injury' that will be incurred.<br>
        4. The 'Source of Injury' that will cause the injury.<br><br>

        These will all be shown to the visitor as fields on the Website.</p>

      <div class="astrodivider">
        <div class="astrodividermask"></div><span><i>&#10038;</i></span>
      </div>

      <h1 id="otherfontsproject">Project Technical Summary</h1>



      <h3 id="otherfontsproject2">1. Data Preparation:</h3>
      <p id="otherpara2fonts">- Extracted the raw data from <a href="https://www.cdc.gov/niosh/mining/data/">US CDC
          Website</a> and to download our complete (unedited) dataset <a
          href="https://grantnickproject3.s3.ap-southeast-2.amazonaws.com/incident_data.csv">click here</a>.<br>
        - Complete Significant Data Cleanup and Grouping as required.<br>
        - Identify the 'target' data for our Machine Learning Models.<br>
        - Identify the output 'results' that we want to present on the website - "Import Data to Postgress".<br><br></p>



      <h3 id="otherfontsproject2">2. Database/Hosting:</h3>
      <p id="otherpara2fonts">- Created the RDS Server to house the Postgress DB.<br>
        - Create the S3 Bucket to store the incident file.<br>
        - Upload the incident data file to the existing data into the S3 bucket.<br>
        - Create a Heroku Instance and connect to GitHub Repo.<br>
        - Deploy the Heroku Website <a href="https://grantnickproj3.herokuapp.com/">Our Project Link</a>.<br><br></p>



      <h3 id="otherfontsproject2">3. Data Migration and ETL:</h3>
      <p id="otherpara2fonts">- Complete significant data transformation initial incident file.<br>
        - Push clean incident data into the Postgress DB.<br><br></p>



      <h3 id="otherfontsproject2">4. Initial Visualisations:</h3>
      <p id="otherpara2fonts">- Connect an export of the 'clean' incident data to Tableau Public to create required
        visualisations.<br>
        - Save these visualisations to the repo.<br><br>

        The Key Visualisations we selected includes:<br>
        1. 'Injury Counts By Age Group'<br>
        2. 'Worst Performing US Safety States'<br>
        3. 'The Most Dangerous Resources'<br>
        4. 'The Most Dangerous Occupations'<br>
        5. 'Total Injuries vs Days Lost'<br>
        6. 'The Most Injured Body Part'<br><br></p>



      <h3 id="otherfontsproject2">5. Machine Learning:</h3>
      <p id="otherpara2fonts">The Machine Learning element of our project we wanted to focus on a predictive model in
        which we could get a person to enter some basic personal details, then a model will be able to predict the most
        likely scenarios for injuries that they may incur during their work life.<br><br>

        In orer to do this, we selected the following columns to create our model:<br>
        1. 'Sex' (Female/Male)<br>
        2. 'Age' (Grouped by Decades)<br>
        3. 'Occupation' (Grouped Data into General Occupation Types that we determined)<br>
        4. 'Operational Process" (Grouped Data for the Workplace that we determined)<br><br>

        The machine learning model will then use the related incident details selected to predict the outcome based on
        the previous incident data.<br><br>

        Overall, we did find variance between the 'accuracy' of the models, based on the number of output criteria the
        model has to predict from.<br><br>

        Our Models Predict the following:<br>
        1. 'Nature of Injury' - Overall Model Accuracy: 30.0% (Possible Outcomes: 31 options)<br>
        2. 'Injured Body Part' - Overall Model Accuracy: 24.9% (Possible Oucomes: 8 options)<br>
        3. 'Source of Injury' - Overall Model Accuracy: 13.9% (Possible Outcomes: 107 options)<br>
        4. 'Activity' - Overall Model Accuracy: 22.2% (Possible Outcomes: 82 options)<br><br></p>



      <h3 id="otherfontsproject2">6. Flask App:</h3>
      <p id="otherpara2fonts">- to be confirmed...<br><br></p>



      <h3 id="otherfontsproject2">>7. HTML Pages:</h3>
      <p id="otherpara2fonts">There are current 5 pages in our webpage:<br>
        - Our Home Page - <a href="https://grantnickproj3.herokuapp.com/">Link</a><br>
        - Project Summary (this page) - <a href="https://grantnickproj3.herokuapp.com/project.html">Link</a><br>
        - Key Data Visualisations - <a href="https://grantnickproj3.herokuapp.com/Visualisations.html">Link</a><br>
        - Employee Questions - <a href="https://grantnickproj3.herokuapp.com/questions.html">Link</a><br>
        - Employee Answers - Note: Link will change depending on selection - <a
          href="https://grantnickproj3.herokuapp.com/Answer=Male=Under%2020=Apprentice%20or%20Trainee=Crushing%20or%20Processing">Example
          Link</a><br><br></p>



      <h3 id="otherfontsproject2">8. Presentation:</h3>
      <p id="otherpara2fonts">The last element of our project is our presentation. This can be found <a
          href="https://grantnickproject3.s3.ap-southeast-2.amazonaws.com/Project+3.pptx">here...</a></p>


      <div class="astrodivider">
        <div class="astrodividermask"></div><span><i>&#10038;</i></span>
      </div>





      <h3 id="otherfontsproject">Observations, Limitations and Potential Enhancements to Model </h1>
        <p id="otherpara2fonts">quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
          suscipit laboriosam,
          nisi ut aliquid ex ea commodi consequatur?<br><br>
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
          illum qui dolorem eum fugiat quo voluptas nulla pariatur?"<br><br>
          t vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
          corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>

        - More questions in survey<br>
        - More respondants to a wider audience<br>
        - More model refinement</p>

    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/app.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>

</html>