<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>US Mining Injury Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <!-- Header -->
  <header role="banner">
    <nav class="navbar navbar-expand-lg navbar-custom" id="box1">
      <a id="Machine" href="/">2020 US Mining Injury Data</a>

      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav pl-md-5">
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="project.html">Project Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="Visualisations.html">Key Data Visualisations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="otherfonts" href="questions.html">Injury Predictor</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid"></div>
    <style>
      body {

        background: url('static/images/backgroundtrucks.jpg') no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
    <div class="box_comp2">
      <h1 id="otherfonts"> US Mining Injury Data</h1>

      <p> What can 4,836 incidents reported to the US Mining Regulator Teach Us?</p><br><br>

      <div class="astrodivider">
        <div class="astrodividermask"></div><span><i>&#10038;</i></span>
      </div>

      <h1 id="otherfonts">Project Intent and Purpose </h1>

      <p>We want to develop a series of visualisations depicting elements of the incident data within the US, then
        create a number of Machine Learning models to allow us to predict (hopefully with some certaintly...) a number
        of future scenario's, based on the overall incident data.<br><br>

        The Models will all use the 'Sex', 'Age', 'Occupation' and 'Operational Process' column data which will be
        grouped (into smaller number of values to simplify the data model). The website will require require the end
        user to select a value for their future, incoming role, then the site will predict:<br><br>

        1. The 'Activity' the person will most likely be injured doing.<br>
        2. The 'Body Part Injured' of the person that will be injured.<br>
        3. The 'Nature of Injury' that will be incurred.<br>
        4. The 'Source of Injury' that will cause the injury.<br><br>

        These will all be shown to the visitor as fields on the Website.</p><br><br>

      <div class="astrodivider">
        <div class="astrodividermask"></div><span><i>&#10038;</i></span>
      </div>

      <h1 id="otherfonts">Project Technical Summary</h1>

      <h3>1. Data Preparation:</h3><br>
      <p>- Extracted the raw data from <a href="https://www.cdc.gov/niosh/mining/data/">US CDC Website</a><br>
        - Complete Significant Data Cleanup and Grouping as required.<br>
        - Identify the 'target' data for our Machine Learning Models.<br>
        - Identify the output 'results' that we want to present on the website - "Import Data to Postgress".<br><br></p>

      <h3>2. Database/Hosting:</h3><br>
      <p>- Created the RDS Server to house the Postgress DB.<br>
        - Create the S3 Bucket to store the incident file.<br>
        - Upload the incident data file to the existing data into the S3 bucket.<br>
        - Create a Heroku Instance and connect to GitHub Repo.<br>
        - Deploy the Heroku Website <a href="https://grantnickproj3.herokuapp.com/">Our Project Link</a>.<br><br></p>

      <h3>Data Migration (ETL):</h3><br>
      <p>- Complete significant data transformation initial incident file.<br>
        - Push clean incident data into the Postgress DB.</p><br><br>

      <h3>Initial Visualisations:</h3><br>
      <p>- Connect an export of the 'clean' incident data to Tableau Public to create required visualisations.<br>
        - Save these visualisations to the repo, so that we can use them in our Website.<br>
        - Key Indicators would include the 'Incident Counts by Age', 'Incident Ratio by Age' and 'Incident Summary by<br>
        Occupation' (our 3 key values)<br>.
        -
        https://public.tableau.com/views/Visualization1_16612206646350/Dashboard1?:language=en-US&:display_count=n&:origin=viz_share_link<br>
        -
        https://public.tableau.com/views/Visualization2_16612209620380/Dashboard2?:language=en-US&:display_count=n&:origin=viz_share_link<br>
        -
        https://public.tableau.com/views/Visualization3_16612217672790/Visualization3?:language=en-US&:display_count=n&:origin=viz_share_link.
        <br><br></p>

      <h3>Machine Learning:</h3><br>
      <p>- Using the 'Sex', 'Age', 'Occupation' and "Operational Process" column data, create the data models we want to predict ('Activity', 'Body Part Injured', 'Nature of Injury' and 'Source of Injury') (Complete).<br><br></p>

      <h3>Flask App:</h3><br>
      <p>- to be confirmed...<br><br></p>

      <h3>HTML Pages</h3><br>
      <p>- Build Home Page Details
      - Append the Tableau Images, Create Text etc.
      - What to do about predictive...?</p><br><br>

      <h3>Presentation:</h3><br>
      <p>- Basically a summary of the steps above... (to be completed)
      - Use Same Template as last project?
      </p><br><br>

      <div class="astrodivider">
        <div class="astrodividermask"></div><span><i>&#10038;</i></span>
      </div>

      <h1 id="otherfonts">Observations from model </h1>

      <p>quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur?</p>
      <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
        illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
      <p>t vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
      <div class="astrodivider">
        <div class="astrodividermask"></div><span><i>&#10038;</i></span>
      </div>

      <h1 id="otherfonts">Limitations and Model Betterment </h1>

      <p>More questions in survey</p>
      <p>More respondants to a wider audience</p>
      <p>More model refinement</p>


    </div>


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/app.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>

</html>