<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>US Mining Injury Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  
    <!-- Header -->
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-custom" id=box1>
        <a  id="Machine" href="/">US Mining Injury Data</a>

        <div class="container">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5">
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="project.html">Project Explanation</a>
              </li>
              <li>
                <a class="nav-link" id="otherfonts" href="Visualisations.html">Visualisations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="questions.html">Injury Calculator</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


  <div class= "container-fluid"></div> 
      <style>
          body {
  
  background: url('static/images/backgroundtrucks.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
       }
      </style>
      <div class="box_comp2"> 
        <h1 id="otherfonts"> US Mining Injury Data</h1>

        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        
        <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

        <h1 id="otherfonts">Project Intent </h1>

       <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book   </p>
       
       <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

        <h1 id="otherfonts" >Methodology </h1>

       <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised i  </p>
       <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
       <p> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  </p>
      
       <p>For code examples..... <a href="/Machinelearning.html">click here</a></p>
       <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

       <h1 id="otherfonts" >Observations from model </h1>

        <p>quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        <p>t vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
       <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

       <h1 id="otherfonts" >Limitations and model betterment </h1>

        <p>More questions in survey</p>
        <p>More respondants to a wider audience</p>
        <p>More model refinement</p>

      
      </div>


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>